*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background-color:rgb(10,10,10);
	color:white;
	font-family:"Bahnschrift Condensed"
}
a{color:white; text-decoration:none;}
a:hover{background-color:rgba(255,255,255,0.2);}
/*logo*/
#logo{background:rgba(30,30,30,1); width:45%; position:fixed; z-index:101; height:9%;}
#logo #es{position:fixed; float:right; margin-top:3%; margin-right:43%; margin-left:1%;font-family:"monotype corsiva";}
#logo h1{padding:10px; color:white; font-family:"Bahnschrift Condensed";}
#logo #img1{margin-top:-4%; margin-left:12%; position:fixed; background-image:url("imagenes/cuate.png"); height:60px; width:60px; background-size:100% 100%;}
#logo #imga{margin-top:-4%; margin-left:12%; position:fixed; background-image:url("codigo/imagenes/cuate.png"); height:60px; width:60px; background-size:100% 100%;}
/*menu*/
p{margin-bottom: 20px;}
#head{background:rgba(30,30,30,1); width:100%; position:fixed; z-index:100; height:9%; }
.menu{float:right;}
.menu ul{list-style:none; overflow:hidden; }
.menu ul li{float:left; font-family:"Bahnschrift Condensed"; font-size:16px;}
.menu ul li a{display:block; padding:20px; color:#fff; text-decoration:none;}
.menu ul li:hover{background:rgb(50,50,50);}
.container{padding:5px; border:none; margin:17px 16px;}
.buton{color:white; background-color:rgba(20,20,20,0); border:none; cursor:pointer; padding:20px; font-family:"Bahnschrift Condensed"; font-size:16px;}
.cascada{display:none;}
.cascada a{padding:20px; text-decoration:none; display:block;}
#casca:hover .cascada{display:block;}
/*menu*/
/*slideshow*/
.t{position:relative; top:75px; width:200px; left:5%;}
.t1{position:relative; top:40px; right:5%; width:200px; float:right;}
#contenedor{ position: relative; top:65px; margin:0 4vh; height:300px;}
.slide1, .slide2{position: absolute; height:100%; width:100%; display:none; background-color:rgb(20,20,20); border-radius:10px;}
.prev,.next{cursor:pointer; position:absolute; top:50%; width:auto; margin-top:-22px; padding:16px; color:white; font-weight:bold; font-size:18px; transition:0.6s ease; border-radius: 0 3px 3px 0; user-select:none;}
.next{right:0; border-radius:3px 0 0 3px;}
.prev:hover,.next:hover{background-color:rgba(50,50,50,0.8);}
.punt{position:relative; top:70px; cursor:pointer; height:15px; width:15px; margin: 0 2px; background-color:rgb(20,20,20); border-radius:50%; display:inline-block; transition:background-color 0.6s ease;}
.active ,.punt:hover{background-color:rgb(50,50,50);}
.fade{animation-name:fade; animation-duration: 1.5s;}
@keyframes fade{from{opacity:0.4} to{opacity:1}}
.juego1{position:absolute; top:20px; left:40px; right:40px;}
.juego1 h3{position:absolute; left:72%;}
.juego1 p{position:absolute; left:57%; top:25px;}
.juego1 .pr{position:relative; left:1px; width:35%; height:260px; }
.juego1 .sc{position:absolute; left:38%; width:17%; height:260px;}
.juego1 .cat{position: absolute; left:57%; top:68%; height:30%; width:35%;}
.juego1 .cat button{border-radius:30px; margin:5px; border:2px solid rgb(40,40,40); background-color:rgb(50,50,50); padding:3px;}
.juego1 .cat button a{text-decoration: none; }
.r{position:relative; top:60px; left:70px; width:50%;}
/*slideshow*/
/*Proximamente*/
.e{position:absolute; width:100%; height:9%; background-color:rgb(30,30,30);}
.e1{position:absolute; width:100%; height:9%; background-color:rgb(30,30,30); margin-top:5%;}
/*Proximamente*/
/*contenido*/
.m{position:relative; top:65px; margin:0 4vh; height:70vh; width:auto; border-radius:10px; background-color:rgb(20,20,20);}
.m .in{position:absolute; right:5vh; top:3vh; width:73%; height:71.8%; }
.m img{position:absolute; left:5vh; top:3vh; width:40vh; height:50vh;}
.m .ab{position:absolute; left:5vh; top: 55vh; height:18%; width:95%;}
.seg{position:absolute; left:23%; width:77%; height:100% }
.seg .ca{border-radius:30px; margin:5px; border:2px solid rgb(40,40,40); background-color:rgb(50,50,50); padding:3px;}
.seg .ca a{text-decoration:none;}
/*contenido*/
/*caracteristicas*/
.ro{position:relative; top:55px; margin:0 0; width:auto; height:100%;}
.ro .cont{position:relative; display:inline-block; top:0%; border-radius:10px; margin-left:8vh; margin-top:2vh; width:20%; height:400px; background-color:rgb(20,20,20);}
.ro .cont img{position:relative; left:5%; right:5%; top:10px; width:90%; height:240px;}
.ro .cont h3{position:relative; left:10%; top:10px;}
.ro .cont .seg2{position:relative; top:10px; width:100%; height:30%;}
.seg2 .ca{border-radius:30px; margin:5px; border:2px solid rgb(40,40,40); background-color:rgb(50,50,50); padding:3px; display:inline-block;}
.seg2 .ca a{text-decoration: none; }
/*caracteristicas*/
